@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-background: #1b1b1b;
  --color-header: #f1f1f1;
  --color-body: #b6b2af;
  --color-navbar: #252525;
  --font-inter: "Inter", sans-serif;
  --font-manrope: "Manrope", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-source: "Source Code Pro", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-sora: "Sora", sans-serif;
  --font-lexend: "Lexend", sans-serif;
}

@plugin '@designbycode/tailwindcss-text-stroke';
@plugin '@tailwindcss/typography';
