---
import BackdropText from "./BackdropText.astro";

import { Icon } from "astro-icon/components";
import SkillsCard from "./SkillsCard.astro";
---

<div id="about">
  <BackdropText backdropText="About Me" text="About Me" />
  <div class="flex flex-col-reverse gap-6 md:flex-row md:space-x-3">
    <div class="w-full md:w-7/10">
      <p class="text-header font-source text-4xl font-bold md:text-5xl">
        Nathan Van Utrecht
      </p>
      <p class="text-header font-source mt-2 text-xl md:text-2xl">
        Roboticist, Mechanical Engineer, and AI Researcher
      </p>
      <p class="mt-4 font-lexend text-body text-lg">
        I am an MS student in the Intelligent Systems, Robotics, and Controls
        program at UC San Diego. Currently my research interests are deep
        reinforcement learning, the sim-to-real gap, and dexterous manipulation.
      </p>

      <div class="my-4 flex flex-row flex-wrap gap-4">
        <SkillsCard iconName="eos-icons:machine-learning-outlined"
          >Reinforcement Learning</SkillsCard
        >
        <SkillsCard iconName="mdi:robot-outline">Robotics</SkillsCard>
        <SkillsCard iconName="hugeicons:vision">Computer Vision</SkillsCard>
        <SkillsCard iconName="simple-icons:python">Python</SkillsCard>
        <SkillsCard iconName="material-symbols:front-hand">Dexterous Manipulation</SkillsCard>
      </div>
    </div>
    <div class="mx-auto w-48 md:mx-0 md:w-3/10">
      <img
        src="headshot.png"
        class="border-4 border-body aspect-square w-full rounded-full"
      />
    </div>
  </div>
</div>
