---
import { render } from "astro:content";

interface Props {
  role: string;
  date: Date;
  thumbnailUrl: string;
  project: any;
  content: any;
}

const { role, date, thumbnailUrl, project, content } = Astro.props;

const { Content, headers } = await content.render();
---

<div class="mx-8 mt-8 flex space-x-10">
  <div class="max-h-[400px] w-2/5">
    <img
      src={thumbnailUrl}
      class="m-auto h-full rounded-lg object-scale-down"
    />
  </div>

  <div class="flex w-3/5 flex-col justify-center">
    <div class="text-header font-sora text-2xl font-bold">{project}</div>
    <div class="text-body font-sora text-md mt-2 italic">{role}</div>
    <div class="text-body prose prose-li:font-lexend prose-ul:pl-4 text-lg">
      <Content />
    </div>
    <div class="flex justify-end">
      <div
        class="text-background font-source h-max w-max rounded-lg bg-lime-500 px-4 py-1 font-bold"
      >
        {
          new Intl.DateTimeFormat("en-US", {
            month: "long",
            year: "numeric",
          }).format(date)
        }
      </div>
    </div>
  </div>
</div>
